<template>
  <div class="about">
    <div className="cropea">
      <img src="https://i.ibb.co/XjzXqGh/dragonojos.png" alt="dragonojos" class="ojosDragon">
    </div>
    <div>
    <h1>Gracias por jugar</h1>
    <div><h3>Inspirado en</h3></div>
    <p>Sistema de combate por turnos de Pokémon</p>
    <p>Imágenes de Dragon Ball</p>
    <div>
      <h2>Hecho por / Made by: Manuel Otero Perez</h2>
    </div>
    <h3>
      <a href="https://www.linkedin.com/in/manuel-otero-perez/">Linkedin</a>
    </h3>
  </div>
  </div>

</template>
<style scoped>

.ojosDragon{
  max-height: 130px; 
  overflow: hidden;
  width: 100%;
}
.about{
  background-color: palegreen;
  margin-bottom: -20px;
}
</style>