<template>
  <div>
      <div className="cropea">
        <img src="https://i.ibb.co/XjzXqGh/dragonojos.png" alt="dragonojos">
      </div>
      <battlecomp/>
  </div>
</template>

<script>
import battlecomp from '@/components/BattleComp.vue'

export default {
    name: 'Battle',
    components:{
        battlecomp
    },
    data(){
        return{
        }
    },
    methods:{
        mostrarBoton(tituloFoto){
            alert(tituloFoto)
        }
    }
}


</script>

<style scoped>

img{
    max-height: 130px; 
    overflow: hidden;
    width: 100%;
}

</style>