<template>
  <div class="home">
    <div className="cropea">
      <img src="https://i.ibb.co/XjzXqGh/dragonojos.png" alt="dragonojos" class="ojosDragon">
    </div>
    <img id="title-img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f82cc357-e354-4ef7-8b2d-647f6f756800/d7tcjy9-60799897-31d5-45e8-907e-727f3e799dcb.png/v1/fill/w_1024,h_327,strp/logo___dragon_ball_z_2014___by_shikomt_by_shikomt_d7tcjy9-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMjciLCJwYXRoIjoiXC9mXC9mODJjYzM1Ny1lMzU0LTRlZjctOGIyZC02NDdmNmY3NTY4MDBcL2Q3dGNqeTktNjA3OTk4OTctMzFkNS00NWU4LTkwN2UtNzI3ZjNlNzk5ZGNiLnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ICSMMxamtKVY4X5mo3xYEqKKG9r_XcNd4AYALFU21DE" alt="Dbz logo">
    <h1>
      Freezer vs. Goku
    </h1>
    <button id="homeButton">
      <router-link to="/battle">Jugar</router-link>
    </button>
  </div>
</template>

<script>
// @ is an alias to /src
import battlecomp from '@/components/BattleComp.vue'

export default {
  name: 'Home'
}
</script>

<style scoped>
  img{
    position: center;
  }
.ojosDragon{
    max-height: 130px; 
    overflow: hidden;
    width: 100%;
}

  button {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    position: relative;
    color: yellow;
    background-color: orangered;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
  }

  button:hover {
    background-color: blue;
    height: 80;
    width: 180px;
  }
.home{
  background-color: palegreen;
}

</style>
