<template>
  <div>
    <div id="instrucciones">
    <div id="myModal" class="modal">
         <div class="modal-content" >
            <span @click="onclose()" class="close">&times;</span>
            <div class="instrucciones">
            <h1 >Instrucciones</h1>
            <p><b>Ataque rápido:</b> Ataca primero, poco daño</p>
            <p><b>Kamehameha:</b> Ataca de segundo, mayor daño</p>
            <p><b>Power Up: </b>Aumenta el daño</p>
            <button @click="onclose()">De acuerdo, vamos allá</button>
          </div>
          </div>
    </div>
    </div>
    <div id="ganaste">
    <div id="myModalVictoria" class="modal">
      <div class="modal-content" >
        <span @click="onReload()" class="close">&times;</span>
        <div class="ganaste">
        <h1 >¡Has ganado!</h1>
        <p><b>Freezer ha sido derrotado y Goku marcha para casa </b></p>
        <button @click="onReload()">Ok</button>
      </div>
      </div>
    </div>
    </div>
    <div id="perdiste">
    <div id="myModalDerrota" class="modal">
          <div class="modal-content" >
            <span @click="onReload()" class="close">&times;</span>
            <div class="perdiste">
            <h1 >Has perdido...</h1>
            <p><b>Y así freezer dominará de nuevo la galaxia y reinará la... paz</b> </p>
            <button @click="onReload()">Que faena</button>
      </div>
      </div>
    </div>
  </div>
    <div id="box-container">
      <div id="gokuBox">
        <h2>Goku</h2>
        <div class="hp-outline">
          <div id="hp-bar-goku"></div>
        </div>
        <p> <b id="vidaGoku">100</b><b>%</b></p>
        <p style="display: inline;">Daño recibido:</p>
        <p id="danoRecibidoGoku" style="display: inline;" class="danoRecibidoGoku"></p>
        <img class="punch" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/punch-16-549728.png" alt="ataque"
          id="punch">
        <img class="kame" id="kame" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/punch-16-549728.png" alt="kamehameha">
        <div id="mueve">
          <img id="gokuImg"
            src="https://vignette.wikia.nocookie.net/new-fantendo/images/e/e1/Goku_Render.png/revision/latest?cb=20161120073508&path-prefix=es"
            alt="goku normal" />
          <img id="gokuKaioImg"
            src="https://www.pngkit.com/png/full/440-4402385_super-saiyan-2-goku-png-goku-super-saiyan.png"
            alt="kaio ken" />
          <img id="gokuSuperImg"
            src="https://www.pngkit.com/png/full/440-4402385_super-saiyan-2-goku-png-goku-super-saiyan.png"
            alt="Super Saiyan" />
        </div>
        <p></p>
        <section>
          <button @click="ataqueLigero()">Ataque ligero <img class="moveBox"
              src="https://cdn.iconscout.com/icon/premium/png-512-thumb/punch-16-549728.png" alt="Ataque Ligero"></button> <br>
        </section>
        <section>
          <button @click="ondaVital()">Kamehameha <img class="moveBox" src="https://i.ibb.co/rFZbBx4/kamh.png"
              alt=""></button> <br>
        </section>
        <div id="powerUp">
          <button v-on:click="poweringUp">
            Power Up
            <img class="moveBox"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Green_Arrow_Up_Darker.svg/1200px-Green_Arrow_Up_Darker.svg.png"
              alt />
          </button>
          <div id="pruebaCambio" style="display: none;">
            0
          </div>
        </div>
        
      </div>
      <div id="friezaBox">
        <h2>Freezer</h2>
        <div class="hp-outline">
          <div id="hp-bar-freezer"></div>
        </div>
        <p><b id="vidaFreezer">100</b><b>%</b></p>
        <p style="display: inline;">Daño recibido:</p>
        <p id="danoRecibidoFreezer" style="display: inline;" class="danoRecibidoFreezer"></p>
        <section>
          <img class="kameFreezer" id="kameFreezer" src="https://i.ibb.co/rFZbBx4/kamh.png" alt="kamehameha">
          <img class="punchFreezer" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/punch-16-549728.png"
            alt="ataque" id="punchFreezer">
          <img class="damage" v-if="bounce4" id="friezapop"
            src="https://vignette.wikia.nocookie.net/dragonballfighterz/images/5/59/Frieza_Artwork.png/revision/latest?cb=20180902173332"
            alt="frieza image" />
        </section>
      </div>
    </div>
  </div>
</template>

<script>
  import Swal from 'sweetalert2'

  export default {
    name: "BattleComp",
    props: {
      dbzObj: Array,
    },
    data() {
      return {
        bounce: false,
        bounce2: false,
        bounce4: true,
        shake: true
      }
    },
    mounted:function(){
      this.method1();
    },
    methods: {
      method1:function(){
          document.getElementById("myModal").style.display = "block";
      },
      onclose: function(){
        document.getElementById("myModal").style.display = "none";
      },
      
      onReload: function(){
        window.location.reload();
      },
      
      poweringUp: function (event) {
        document.getElementById("gokuImg").style.transition = "opacity 0.5s";
        document.getElementById('gokuImg').style.opacity = 0;
        document.getElementById('pruebaCambio').innerHTML = '1'
        setTimeout(
          function () {
            document.getElementById('gokuKaioImg').style.opacity = 1;
            document.getElementById('gokuKaioImg').className = "shakey";
          }, 300

        )
      },
      
      ondaVital() {
        let ataqueBaseGoku = -1;
        let ataqueBaseFreezer = -1;
        let puntosRestantesFreezer = document.getElementById("vidaFreezer");
        let puntosRestantesGoku = document.getElementById("vidaGoku");
        var fValue = puntosRestantesFreezer;
        var poderAtaqueGoku = ataqueBaseGoku - Math.random() * 23
        let poderAtaqueFreezer = ataqueBaseFreezer - Math.random() * 24
        let bajadaGoku = String(document.getElementById("vidaGoku").innerHTML) + '%'
        if (document.getElementById('pruebaCambio').innerHTML > 0) {
          console.log('supersaiyan')
          let poderAtaqueGoku = ataqueBaseGoku - Math.random() * 30
          document.getElementById('mueve').className = "shakey";
          document.getElementById('kame').className = "accion";
          document.getElementById('kame').style.display = "inline"
          vidaGoku.innerHTML = parseInt(puntosRestantesGoku.innerHTML) + Math.round(poderAtaqueFreezer);
          document.getElementById('danoRecibidoGoku').innerHTML = Math.round(poderAtaqueFreezer)
          let bajadaGoku = String(puntosRestantesGoku.innerHTML) + '%'
          document.getElementById('hp-bar-goku').style.width = bajadaGoku
          console.log(vidaGoku.innerHTML)
          if(vidaGoku.innerHTML <= 0 || vidaFreezer.innerHTML == NaN){
                  document.getElementById("vidaGoku").innerHTML = "0";
                  document.getElementById("myModalDerrota").style.display = "block";
                  return;
          }
          setTimeout(
            function () {
              document.getElementById('mueve').className = "none";
              document.getElementById('kame').className = "none";
              document.getElementById('kame').style.display = "none"
            }, 300
          )
     
          if (document.getElementById("vidaFreezer").innerHTML <= 0 || document.getElementById("vidaFreezer").innerHTML == NaN) {
            document.getElementById("vidaFreezer").innerHTML = "0"
            alert('ya')
            document.getElementById('hp-bar-freezer').className = "perdiditos"
          }
          if (document.getElementById("vidaGoku").innerHTML <= 0 || document.getElementById("vidaGoku").innerHTML == NaN) {
            alert('ya')
            document.getElementById("vidaGoku").innerHTML = "perdiste"
            document.getElementById('hp-bar-goku').className = "perdiditos"
          }
          if (vidaGoku.innerHTML <= 0) {
            document.getElementById('hp-bar-freezer').style.width = "0%";
            puntosRestantesFreezer.innerHTML = "0"
            return;
          } else {
            setTimeout(
              function () {
                
                vidaFreezer.innerHTML = parseInt(fValue.innerHTML) + Math.round(poderAtaqueGoku);
                document.getElementById('danoRecibidoFreezer').innerHTML = Math.round(poderAtaqueGoku)
                console.log(vidaGoku.innerHTML)
                if(vidaFreezer.innerHTML <= 0 || vidaFreezer.innerHTML == NaN){
                  document.getElementById("vidaFreezer").innerHTML = "0";
                  document.getElementById("myModalVictoria").style.display = "block";
                }
                let bajadaFreezer = String(puntosRestantesFreezer.innerHTML) + '%'
                
                document.getElementById('hp-bar-freezer').style.width = bajadaFreezer
                
                document.getElementById('friezapop').className = "shakeFreezer";
                document.getElementById('kameFreezer').className = "accionFreezer";
                document.getElementById('kameFreezer').style.display = "inline";
                setTimeout(
                  function () {
                    document.getElementById('friezapop').className = "damage";
                    document.getElementById('kameFreezer').className = "none";
                    document.getElementById('kameFreezer').style.display = "none"
                  }, 300
                )
              }, 800
            )
          }
        } else {
          let poderAtaqueGoku = ataqueBaseGoku - Math.random() * 25
          document.getElementById('mueve').className = "shakey";
          document.getElementById('kame').className = "accion";
          document.getElementById('kame').style.display = "inline"
          vidaGoku.innerHTML = parseInt(puntosRestantesGoku.innerHTML) + Math.round(poderAtaqueFreezer);
          document.getElementById('danoRecibidoGoku').innerHTML = Math.round(poderAtaqueFreezer)
          let bajadaGoku = String(puntosRestantesGoku.innerHTML) + '%'
          document.getElementById('hp-bar-goku').style.width = bajadaGoku
          console.log(vidaGoku.innerHTML)
          if(vidaGoku.innerHTML <= 0 || vidaFreezer.innerHTML == NaN){
                  document.getElementById("vidaGoku").innerHTML = "0";
                  document.getElementById("myModalDerrota").style.display = "block";
                  return;
          }
          setTimeout(
            function () {
              document.getElementById('mueve').className = "none";
              document.getElementById('kame').className = "none";
              document.getElementById('kame').style.display = "none"
            }, 300
          )
     
          if (document.getElementById("vidaFreezer").innerHTML <= 0 || document.getElementById("vidaFreezer").innerHTML == NaN) {
            document.getElementById("vidaFreezer").innerHTML = "0"
            alert('ya')
            document.getElementById('hp-bar-freezer').className = "perdiditos"
          }
          if (document.getElementById("vidaGoku").innerHTML <= 0 || document.getElementById("vidaGoku").innerHTML == NaN) {
            alert('ya')
            document.getElementById("vidaGoku").innerHTML = "perdiste"
            document.getElementById('hp-bar-goku').className = "perdiditos"
          }
          if (vidaGoku.innerHTML <= 0) {
            document.getElementById('hp-bar-freezer').style.width = "0%";
            puntosRestantesFreezer.innerHTML = "0"
            return;
          } else {
            setTimeout(
              function () {
                
                vidaFreezer.innerHTML = parseInt(fValue.innerHTML) + Math.round(poderAtaqueGoku);
                document.getElementById('danoRecibidoFreezer').innerHTML = Math.round(poderAtaqueGoku)
                console.log(vidaGoku.innerHTML)
                if(vidaFreezer.innerHTML <= 0 || vidaFreezer.innerHTML == NaN){
                  document.getElementById("vidaFreezer").innerHTML = "0";
                  document.getElementById("myModalVictoria").style.display = "block";
                }
                let bajadaFreezer = String(puntosRestantesFreezer.innerHTML) + '%'
                
                document.getElementById('hp-bar-freezer').style.width = bajadaFreezer
                
                document.getElementById('friezapop').className = "shakeFreezer";
                document.getElementById('kameFreezer').className = "accionFreezer";
                document.getElementById('kameFreezer').style.display = "inline";
                setTimeout(
                  function () {
                    document.getElementById('friezapop').className = "damage";
                    document.getElementById('kameFreezer').className = "none";
                    document.getElementById('kameFreezer').style.display = "none"
                  }, 300
                )
              }, 800
            )
          }
        }
      },

 
      ataqueLigero() {
        let ataqueBaseGoku = -1;
        let ataqueBaseFreezer = -1;
        let puntosRestantesFreezer = document.getElementById("vidaFreezer");
        let puntosRestantesGoku = document.getElementById("vidaGoku");
        var fValue = puntosRestantesFreezer;
        var poderAtaqueGoku = ataqueBaseGoku - Math.random() * 10;
        let poderAtaqueFreezer = ataqueBaseFreezer - Math.random() * 20;
        if (document.getElementById('pruebaCambio').innerHTML > 0) {
          let poderAtaqueGoku = ataqueBaseGoku - Math.random() * 28
          vidaFreezer.innerHTML = parseInt(fValue.innerHTML) + Math.round(poderAtaqueGoku);
          document.getElementById('danoRecibidoFreezer').innerHTML = Math.round(poderAtaqueGoku)
          let bajadaFreezer = String(puntosRestantesFreezer.innerHTML) + '%'
          document.getElementById('hp-bar-freezer').style.width = bajadaFreezer
          document.getElementById('friezapop').className = "shakeFreezer";
          document.getElementById('punchFreezer').className = "accionFreezer";
          document.getElementById('punchFreezer').style.display = "inline";
          setTimeout(
            function () {
              document.getElementById('friezapop').className = "damage";
              document.getElementById('punchFreezer').className = "none";
              document.getElementById('punchFreezer').style.display = "none"
            }, 300

          )
            setTimeout(
              function () {
                puntosRestantesGoku.innerHTML = parseInt(puntosRestantesGoku.innerHTML) + Math.round(poderAtaqueFreezer);
                let bajadaGoku = String(document.getElementById("vidaGoku").innerHTML) + '%'
                document.getElementById('danoRecibidoGoku').innerHTML = Math.round(poderAtaqueFreezer)
                document.getElementById('hp-bar-goku').style.width = bajadaGoku
                document.getElementById('mueve').className = "shakey";
                document.getElementById('punch').className = "accion";
                document.getElementById('punch').style.display = "inline"
                setTimeout(
                  function () {
                    document.getElementById('mueve').className = "none";
                    document.getElementById('punch').className = "none";
                    document.getElementById('punch').style.display = "none"
                    if (document.getElementById("vidaFreezer").innerHTML <= 0 || document.getElementById("vidaFreezer").innerHTML == NaN) {
                      document.getElementById('hp-bar-freezer').style.width = "0%";
                      document.getElementById("vidaFreezer").innerHTML = "0";
                      document.getElementById("myModalVictoria").style.display = "block";
                      document.getElementById('hp-bar-freezer').className = "perdiditos"
                      return;
                    }
                    if (document.getElementById("vidaGoku").innerHTML < 1 || document.getElementById("vidaGoku").innerHTML == NaN) {
                      document.getElementById('hp-bar-goku').style.width = "0%";
                      document.getElementById("myModalDerrota").style.display = "block";
                      document.getElementById("vidaGoku").innerHTML = "perdiste"
                      document.getElementById('hp-bar-goku').className = "perdiditos"
                      return;
                    }
                    if (vidaGoku.innerHTML <= 0) {
                      document.getElementById('hp-bar-freezer').style.width = "0%";
                      puntosRestantesFreezer.innerHTML = "0";
                      document.getElementById("myModal").style.display = "block";
                      return;
                      }
                  }, 300
                )
              }, 800
            )
          }
          else {
            let poderAtaqueGoku = ataqueBaseGoku - Math.random() * 20
            vidaFreezer.innerHTML = parseInt(fValue.innerHTML) + Math.round(poderAtaqueGoku);
            document.getElementById('danoRecibidoFreezer').innerHTML = Math.round(poderAtaqueGoku)
            let bajadaFreezer = String(puntosRestantesFreezer.innerHTML) + '%'
            document.getElementById('hp-bar-freezer').style.width = bajadaFreezer
            document.getElementById('friezapop').className = "shakeFreezer";
            document.getElementById('punchFreezer').className = "accionFreezer";
            document.getElementById('punchFreezer').style.display = "inline";
          setTimeout(
            function () {
              document.getElementById('friezapop').className = "damage";
              document.getElementById('punchFreezer').className = "none";
              document.getElementById('punchFreezer').style.display = "none"
            }, 300

          )
            setTimeout(
              function () {
                puntosRestantesGoku.innerHTML = parseInt(puntosRestantesGoku.innerHTML) + Math.round(poderAtaqueFreezer);
                let bajadaGoku = String(document.getElementById("vidaGoku").innerHTML) + '%'
                document.getElementById('danoRecibidoGoku').innerHTML = Math.round(poderAtaqueFreezer)
                document.getElementById('hp-bar-goku').style.width = bajadaGoku
                document.getElementById('mueve').className = "shakey";
                document.getElementById('punch').className = "accion";
                document.getElementById('punch').style.display = "inline"
                setTimeout(
                  function () {
                    document.getElementById('mueve').className = "none";
                    document.getElementById('punch').className = "none";
                    document.getElementById('punch').style.display = "none"
                    if (document.getElementById("vidaFreezer").innerHTML <= 0 || document.getElementById("vidaFreezer").innerHTML == NaN) {
                      document.getElementById('hp-bar-freezer').style.width = "0%";
                      document.getElementById("vidaFreezer").innerHTML = "0";
                      document.getElementById("myModalVictoria").style.display = "block";
                      document.getElementById('hp-bar-freezer').className = "perdiditos"
                      return;
                    }
                    if (document.getElementById("vidaGoku").innerHTML < 1 || document.getElementById("vidaGoku").innerHTML == NaN) {
                      document.getElementById('hp-bar-goku').style.width = "0%";
                      document.getElementById("myModalDerrota").style.display = "block";
                      document.getElementById("vidaGoku").innerHTML = "perdiste"
                      document.getElementById('hp-bar-goku').className = "perdiditos"
                      return;
                    }
                    if (vidaGoku.innerHTML <= 0) {
                      document.getElementById('hp-bar-freezer').style.width = "0%";
                      puntosRestantesFreezer.innerHTML = "0";
                      document.getElementById("myModal").style.display = "block";
                      return;
                      }
                  }, 300
                )
              }, 800
            )
          }
          }
        
      },
  };


</script>

<style scoped>
  

  .perdiditos {
    width: 0;
  }
  #box-container {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3eb70ccc-e7ad-4e1a-87fa-f97df9ef1c52/davkgjo-cbc5c2d0-4c49-44f5-9470-99c2c24b7543.png/v1/fill/w_1024,h_718,q_80,strp/saga_of_freezer___namek_screen_by_saodvd_davkgjo-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MTgiLCJwYXRoIjoiXC9mXC8zZWI3MGNjYy1lN2FkLTRlMWEtODdmYS1mOTdkZjllZjFjNTJcL2Rhdmtnam8tY2JjNWMyZDAtNGM0OS00NGY1LTk0NzAtOTljMmMyNGI3NTQzLnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.bq5Dh7IytpdQXW-KXZ5DebVnMk1z4w7y91gtZsZ2WIA");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    width: ;
    background-position: center;
    display: flex;
  }

  #gokuBox {
    width: 50%;
    height: 50%;
  }

  #friezaBox {
    width: 50%;
    height: 50%;
  }

  button {
    color: yellow;
    background-color: orangered;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
  }

  button:hover {
    background-color: blue;
    height: 80;
    width: 180px;
  }

  #gokuImg {
    opacity: 1;
    width: 300px;
    position: absolute;
  }

  #gokuKaioImg {
    opacity: 0;
    width: 300px;
    position: absolute;
  }

  #gokuSuperImg {
    opacity: 0;
    width: 300px;
    animation: shake 0.5s;
  }

  #hp-bar-goku {
    position: center;
    background-image: linear-gradient(rgba(255, 60, 100, 0.7),
        rgba(255, 60, 100, 1));
    height: 100%;
    width: 100%;
  }

  #hp-bar-freezer {
    position: center;
    background-image: linear-gradient(rgba(255, 60, 100, 0.7),
        rgba(255, 60, 100, 1));
    height: 100%;
    width: 100%;
  }

  .hp-outline {
    margin: auto;
    position: center;
    size: 5px;
    width: 20%;
    height: 10px;
    background: #fff;
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
  }

  .moveBox {
    width: 20px;
  }

  .moveBox:hover {
    animation: shake 0.8s;
  }

  @keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
  }

  .punch {
    margin-top: 5%;
    margin-left: -3%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    width: 100px;
    animation: blink 0.75s;
    opacity: 0;
  }

  .punchFreezer {
    margin-top: 5%;
    margin-left: -3%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    width: 100px;
    animation: blink 0.75s;
    opacity: 0;
  }

  .danoRecibidoGoku {
    color:red;
    opacity: 1;
    position: relative;
    animation: blink 0.75s;
    opacity: 1;
    font-size: 20px;
  }
  .danoRecibidoFreezer {
    color:blue;
    opacity: 1;
    position: relative;
    animation: blink 0.75s;
    opacity: 1;
    font-size: 20px;
  }

  .kame {
    margin-top: 5%;
    margin-left: -3%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    width: 100px;
    animation: blink 0.75s;
    opacity: 0;
  }

  .kameFreezer {
    margin-top: 5%;
    margin-left: 15%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    width: 100px;
    animation: blink 0.75s;
    opacity: 0;
  }

  .technique {
    opacity: 0;
    position: absolute;
    width: 100px;
    animation: blink 0.75s;
  }

  .damage {
    opacity: 1;
    position: relative;
    width: 300px;
  }

  .shakey {animation: shake .3s;}
  .shakeFreezer {
    animation: shake .2s;
    opacity: 1;
    position: relative;
    width: 300px;
  }
  .accion {
    margin-top: 5%;
    margin-left: -3%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    width: 100px;
    animation: bounce-in 2s;
  }
  .accionFreezer {
    margin-top: 5%;
    margin-left: 5%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    width: 100px;
    animation: bounce-in 2s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  .bounce2-leave-active {
    animation: bounce-in .5s reverse;
  }
  .bounce4-leave-active {
    animation: shake .5s;
  }
  @keyframes bounce-in {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes blinker {
    50% {opacity: 0;}
  }

  @keyframes bounce4-in {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
  }

  .instrucciones{
   font-size: 150%;
   text-align: center;
   padding: 20px;
   color: darkblue;
}
   
  .modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    
  }

.modal-content {
  border-color: darkblue;
  border-width: 5px;
  border-style: solid;
  border-radius: 40px;
  background-color: darkorange;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}

.close {
  color: blue;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
}
</style>