<template>
  <div>
      <img src="https://i.ibb.co/mCTbnZT/dragoncola.png" alt="dragonCola">
      <p>
          Manuel Otero Perez, 2021
      </p>
     <br>
     <br>
     <br>
     <br>
  </div>
</template>

<script>
export default {
    name: 'FooterCustom'
}
</script>

<style scoped>
    p{
        font-size: 0.400rem;
        margin: 2rem;
    }
    img{
    max-height: 130px; 
    overflow: hidden;
    width: 100%;
    }
    div{
        background-color: palegreen;
    }

</style>