<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Inicio</router-link> |
      <router-link to="/about">Sobre el autor</router-link> | 
      <router-link to="/battle">Battle</router-link>
    </div>
    <router-view/>
    <footercustom/>
  </div>
</template>

<script>
import footercustom from '@/components/FooterCustom.vue'

export default{
  components: {
    footercustom
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  background-color: palegreen;
}

#nav a {
  font-weight: bold;
  color: blue;
}

#nav a.router-link-exact-active {
  color: orangered;
}
</style>
